<app-main>
  <app-container>
    <form class="form-consulta">
      <h2>Ordem de serviço</h2>
      <div class="flex-container">
        <mat-form-field class="input-cliente">
          <mat-label>Cliente</mat-label>
          <input type="text" [formGroup]="formBuscaService.formBusca" placeholder="Escolha um cliente"
            aria-label="Cliente" matInput [matAutocomplete]="auto">

          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let cliente of clientes" [value]="cliente.nomeFantasia">
              {{ cliente.nomeFantasia }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Data de consulta</mat-label>
          <mat-date-range-input [formGroup]="formBuscaService.formBusca" [rangePicker]="picker">
            <input matStartDate formControlName="dataInicial" placeholder="Data inicial">
            <input matEndDate formControlName="dataFinal" placeholder="Data final">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="formBuscaService.formBusca.get('dataInicial')?.hasError('matStartDateInvalid')">
            Data inicial inválida
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Filtro data</mat-label>
          <mat-select name="food">
            @for (opcao of opcoesData; track opcao) {
            <mat-option [value]="opcao">{{opcao}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    <table mat-table [dataSource]="dataSource" class="table">
      @for (column of columns; track column) {
      <ng-container [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef>
          {{column.header}}
        </th>
        <td mat-cell *matCellDef="let row">
          {{column.cell(row)}}
        </td>
      </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </app-container>
</app-main>