<app-header></app-header>
<section class="homepage">
    <app-container>
        <div class="about-container">
            <h1 id="about-title">Gerencie suas ordens de serviço com eficiência.</h1>
            <h3 id="about">Controle técnico, financeiro, clientes e equipes: tudo integrado de forma simples e intuitiva.</h3>
            <button (click)="experimenteButtonClick()" mat-flat-button class="enjoy-button">Experimente agora</button>
        </div>
    </app-container>
</section>
<app-footer></app-footer>